[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuddly = {file = ".", editable = true}
rich = "*"
textual = "*"

[dev-packages]
ddt = "*"
mock = "*"

[dev-extra]
lz4 = "*"
jsonschema = "*"
