argcomplete
crcmod>=1.7
pycups
rpyc<7.0.0,>=6.0.0
graphviz
matplotlib
paramiko<4.0.0,>=3.4.0
pyserial
python-constraint2
z3-solver>=4.8
pyxdg
xtermcolor
sphinx
sphinxcontrib-napoleon
sphinx-rtd-theme
